body {
  margin: 0px;
  padding: 0px;
  height: 8000px;
  font-family: Arial, Helvetica, sans-serif;
}

/* flash deal */
.second-section {
  /* border: 1px solid black; */
  padding-top: 50px;
}
.container {
  /* border: 1px solid black; */
  margin: 0em 4em;
  height: 88vh;
}
.flash {
  display: flex;
}
.box-desc {
  width: 32vw;
  padding-top: 50px;
}
.logo-flash {
  display: flex;
}
.logo-flash img {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  margin-right: 20px;
}
.title-flash {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 8px;
  font-size: 28px;
}
.waktu-flash {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: rgb(155, 155, 155);
}
.discon-flash {
  font-size: 30px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 35px;
}
.button-download p {
  /* border: 1px solid black; */
  font-size: 16px;
  width: 99%;
  margin: 5px 0px;
  /* line-height: 8px; */
}
.button-download span {
  font-size: 16px;
  font-weight: bold;
  margin-top: 80px;
  line-height: 8px;
}
.button-download button {
  height: 6vh;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: #e31e52;
  padding: 10px;
  margin-top: 5px;
  background-color: #e31e52;
}
.button-download button:hover {
  height: 6vh;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: #ac0531;
  background-color: #ac0531;
  padding: 10px;
  margin-top: 5px;
}

.box-card {
  overflow: hidden;
}
.box-card .see-now {
  text-decoration: none;
  margin-left: 89%;
}
.box-card .see-now:hover {
  text-decoration: underline;
}
.card-item {
  /* border: 1px solid black; */
  margin-top: 17px;
  width: 100%;
  height: 82%;
  /* margin: 0px 5px; */
  display: grid;
  /* height: 300px; */
  grid-template-columns: auto auto auto auto auto;
  gap: 25px;
  overflow-x: scroll;
  padding: 0px 0px;
}
.card-item div {
  border: 1px solid #d0d0d0;
  padding: 1px;
  text-align: justify;
  width: 200px;
  background-color: white;
  color: black;
  overflow: hidden;
}
.card-item img {
  width: 200px;
}
.card-item .harga {
  text-decoration: line-through;
  color: rgb(155, 155, 155);
}
.card-item .persen {
  color: red;
}
.card-item .star {
  font-size: 25px;
  text-decoration: none;
  cursor: context-menu;
  color: rgb(228, 208, 32);
}
.card-item .rate {
  font-size: 20px;
  text-decoration: none;
  color: rgb(155, 155, 155);
}
.card-item .rate:hover {
  font-size: 20px;
  text-decoration: underline;
  color: rgb(155, 155, 155);
}

/* Keliling mall */
.keliling-mall {
  /* border: 1px solid black; */
  padding-top: 20px;
  height: 90vh;
  overflow: hidden;
}
.title-mall {
  /* border: 1px solid black; */
  font-family: 'Roboto', sans-serif;
  display: flex;
  padding: 0em 3.8em;
}
.title-mall {
  /* border: 1px solid black; */
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 0em 3.8em;
}
.title-mall p {
  /* border: 1px solid black; */
  padding-top: 20px;
  font-weight: bold;
}
.title-mall-responsive {
  display: none;
}
.mall {
  display: flex;
  overflow: hidden;
}
.buka-mall {
  border: 1px solid rgb(199, 198, 198);
  background-image: url(img/shop.jpg);
  background-position: center;
  background-size: cover;
  width: 26%;
  text-align: center;
  color: white;
}
.buka-mall h1 {
  margin-top: 6em;
  font-family: Arial, Helvetica, sans-serif;
}
.buka-mall p {
  width: 100%;
}
.tombol-mall {
  height: 6vh;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: #e31e52;
  padding: 10px;
  margin-top: 5px;
  background-color: #e31e52;
}
.tombol-mall:hover {
  height: 6vh;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: #ac0531;
  padding: 10px;
  margin-top: 5px;
  background-color: #ac0531;
}
.slide-barang {
  display: flex;
}
.card-barang {
  border: 1px solid rgb(199, 198, 198);
  position: relative;
  width: 25%;
  height: 76.5vh;
  overflow: hidden;
}
.img-card-top {
  width: 220px;
  height: 271px;
}
.img-card-center {
  /* border: 1px solid rgb(0, 0, 0); */
  display: block;
  width: 190px;
  position: absolute;
  top: 10em;
  left: 1em;
  margin: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(204, 204, 204);
}
.card-barang h2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 120px;
  text-align: center;
}

/* lagi populer */
.lagi-populer {
  /* border: 1px solid black; */
  padding: 0em 3.8em;
  margin-top: 70px;
}
.populer {
  /* border: 1px solid black; */
  height: 28vh;
  margin: 0px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.item-populer {
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding-bottom: 0px;
  width: 15%;
  height: 100%;
}
.item-populer:hover {
  border: 1px solid rgb(75, 78, 245);
  background-color: #f5f5f5;
  cursor: pointer;
  border-radius: 8px;
  width: 15%;
}
.item-populer img {
  width: 100px;
  padding-top: 10px;
}

@media (max-width: 576px) {
  /* flash deal */
  .second-section {
    /* border: 1px solid black; */
    background-color: #e93b6b !important;
    padding-top: 10px;
    height: 110vh;
  }
  .container {
    /* border: 1px solid black; */
    margin: 0em 1em;
    height: 93%;
  }
  .flash {
    display: flex;
    flex-direction: column;
  }
  .box-desc {
    /* border: 1px solid black; */
    width: 100%;
    padding-top: 0px;
  }
  .title-flash {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 8px;
    font-size: 28px;
    color: white;
  }
  .logo-flash img {
    display: none;
  }
  .waktu-flash {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    width: 170px;
    margin-top: -10px;
    padding: 0px 10px;
    color: black;
    border-radius: 15px;
    border: 1px solid rgb(226, 195, 17);
    background-color: rgb(226, 195, 17);
  }
  .discon-flash {
    display: none;
  }
  .button-download {
    display: none;
  }
  .box-card {
    position: relative;
    overflow: hidden;
  }
  .box-card .see-now {
    position: absolute;
    right: 0px;
    width: 91px;
    text-decoration: none;
    color: white;
  }
  .card-item {
    /* border: 5px solid black; */
    margin-top: 30px;
    height: 180vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;
    overflow-x: scroll;
    padding: 0px 0px;
  }
  .card-item img {
    width: 200px;
  }
  .discon-card {
    height: 80vh;
  }

  /* keliling mall */
  .keliling-mall {
    /* border: 1px solid black; */
    overflow: hidden;
    width: 99.6%;
  }
  .title-mall {
    display: none;
  }
  .title-mall-responsive {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 0em 1em;
  }
  .title-mall-responsive h1 {
    /* border: 1px solid black; */
    font-size: 16px;
  }
  .title-mall-responsive a {
    /* border: 1px solid black; */
    text-decoration: none;
    font-size: 14px;
    color: #d0d0d0;
    padding-right: 10px;
    padding-top: 10px;
  }
  .mall {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  .buka-mall {
    display: none;
  }
  .slide-barang {
    display: flex;
  }
  .card-barang {
    /* border: 1px solid rgb(233, 9, 9); */
    position: relative;
    box-shadow: 1px 1px 1px 1px rgb(204, 204, 204);
    width: 35%;
    height: 40vh;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .img-card-top {
    width: 138px;
    height: 100px;
    padding-bottom: 90px;
  }
  .img-card-center {
    display: block;
    width: 110px;
    position: absolute;
    top: 4em;
    left: 6px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(204, 204, 204);
  }
  .card-barang h2 {
    display: none;
  }

  /* lagi populer */
  .lagi-populer {
    display: none;
  }
}
