/*footer*/
#footer {
    width: 100%;
}

.container1 {
    display: flex;
}

.container1 .kiri {
    width: 80%;
    margin: 0
}

.container1 .kiri p {
    margin-left: 20px;
}

.container1 .kanan {
    width: 20%;
}

.container1 .kanan p {
    margin-left: 20px;
}

.container1 .img_sosmed {
    width: 50px;
    height: 30px;
    margin-right: 16px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.container1 .logo {
    flex-direction: row;
}


.container2 p {
    margin-left: 20px;
}

.container2 .logo {
    flex-direction: row;
}

.container2 .img_sosmed {
    width: 50px;
    height: 30px;
    margin-right: 16px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.container3 {
    margin-top: 50px;
    margin-left: 20px;
    display: flex;

}

.container3 .kiri {
    display: flex;
    width: 70%;
    margin-left: 20px;
}

.container3 .kiri .img_1 {
    width: 20%;
}

.container3 .kiri p {
    margin-top: 25px;
    margin-left: 15px;
}

.container3 .kanan {
    display: flex;
    width: 30%;
}

.container3 .kanan p {
    margin-top: 25px;
}

.container3 .logo {
    flex-direction: row;
    margin-top: 15px;
}

.container3 .img_sosmed {
    width: 33px;
    height: 33px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 90%
}

.container4 {
    justify-content: space-between;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container4 .class1 {
    width: 30%;
}

.container4 .class1 .box {
    border-style: groove;
    margin-top: 12px;
    margin-left: 50px;
    width: 70%;
    height: 30px;
}

.container4 .kt_link {
    color: black;
    text-decoration: none;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.container4 .kt_link p {
    text-align: center;
    margin-top: 6px;
}

.container4 .kt_link:hover {
    color: #a10808;
}

.container4 .class2 {
    width: 20%;
    flex-direction: column;
    float: right
}

.container4 .class3 {
    flex-direction: column;
    width: 20%;
}

.container4 .class4 {
    width: 20%;
}

.class5 {
    display: flex;
    margin-top: 13px;
    width: 30%;
    flex-direction: column;
}

.class5 p {
    color: white;
}

.class5 .pp {
    display: none;
}

.class5 .donl {
    display: flex;
}

.class5 .donl .kiri {
    display: flex;
    border-radius: 10px;
    margin-right: 30px;
    cursor: pointer;
}

.class5 .donl .kanan {
    display: flex;
    border-radius: 10px;
    margin-right: 30px;
    cursor: pointer;
}

.class5 .img_gplay {
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-left: 1px;
}

.class5 .img_sosmed {
    width: 100px;
    height: 38px;
    margin-top: 11px;
    margin-left: 1px;
}

.container4 .nav-link {
    text-decoration: none;
    margin-right: 60px;
    color: #000;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
}

.container4 .nav-link:hover {
    color: #a10808;
}

.container5 {
    display: flex;
    margin-left: 50px;
}

.container5 .con5 {
    display: flex;
}

.container5 a {
    text-decoration: none;
    margin-left: 5px;
    margin-top: 15px;
    color: rgb(151, 10, 10);
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}


@media (max-width: 576px) {
    .container1 {
        flex-direction: row;
        width: 100%;
    }

    .container1 .img_sosmed {
        width: 40px;
        height: 20px;
    }

    .container1 .kanan {
        margin-top: 50px;
        flex-direction: row;
    }

    .container1 .kanan p {
        display: none;
    }

    .container2 {
        display: none;
    }

    .container3 {
        display: none;
    }

    .container4 .class1 {
        display: none;
    }

    .container4 .class2 {
        display: none;
    }

    .container4 .class3 {
        display: none;
    }

    .container4 .class4 {
        display: none;
    }

    .class5 {
        width: 100%;
    }

    .class5 .pp {
        display: block;
        text-align: center;
        margin-left: 60px;
        margin-bottom: 10px;
    }

    .class5 .donl {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 50px;
    }

    .class5 .donl .kiri {
        display: flex;
        border-radius: 10px;
        margin-right: 30px;
        cursor: pointer;
    }

    .class5 .donl .kanan {
        display: flex;
        border-radius: 10px;
        margin-right: 30px;
        cursor: pointer;
    }

    .class5 .img_gplay {
        width: 100px;
        height: 40px;
        margin-top: 10px;
        margin-left: 1px;
    }

    .class5 .img_sosmed {
        width: 100px;
        height: 38px;
        margin-top: 11px;
        margin-left: 1px;
    }

    .container5 {
        height: 30px;
        flex-direction: column;
        text-align: center;
    }

    .container5 .con5 {
        justify-content: center;
    }



}